* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: raleway-regular;
    src: url("./fonts/raleway/raleway-regular.ttf");
}

@font-face {
    font-family: raleway-medium;
    src: url("./fonts/raleway/raleway-medium.ttf");
}

@font-face {
    font-family: raleway-bold;
    src: url("./fonts/raleway/raleway-bold.ttf");
}

@font-face {
    font-family: raleway-extrabold;
    src: url("./fonts/raleway/raleway-extrabold.ttf");
}

@font-face {
    font-family: raleway-semibold;
    src: url("./fonts/raleway/raleway-semibold.ttf");
}

@font-face {
    font-family: montserrat-bold;
    src: url("./fonts/montserrat/montserrat-bold.ttf");
}

@font-face {
    font-family: montserrat-light;
    src: url("./fonts/montserrat/montserrat-light.ttf");
}

.container {
    width: 1920px;
    margin: 0 auto;
}

.header {
    width: 100%;
    background-image: url("./image/bg_image_header.png");
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-up-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px 375px;
    margin: 0 0 200px 0;
}

.header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    text-decoration: none;
    color: #ffffff;
}

.header-logo:hover .header-logo-icon {
    fill: #998675;;
  }
  
.header-logo:hover .header-logo-txt {
    color: #998675;
  }
  
.header-logo:active .header-logo-icon {
    fill: rgb(131, 130, 122);
  }
  
.header-logo:active .header-logo-txt {
    color: rgb(109, 108, 102);
  }
  
.header-logo-icon {
    fill: #fff;
  }

.header-logo-txt {
    font-family: 'raleway-regular', 'arial', sans-serif;
    font-size: 33px;
}
.header-menu {
   display: flex;
   justify-content: space-between;

}

.header-menu-list {
    display: flex;
    justify-content: space-between;
}    

.header-menu__link {
    margin: auto 15px;
    text-decoration: none;
    font-family: 'montserrat-light', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
}

.header-menu__link:hover {
    color: #c7b299;;
}

.header-menu__link:active {
    font-family: 'montserrat-light', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #c7b299;
}

.header-menu__calendar {
    margin: auto 30px auto 40px;
}

.header-menu__calendar:hover {
    filter: brightness(0%);
}

.header-form-search {
    display: flex;
}

.header-menu__search {
    margin: auto 0;
    width: 25px;
    height: 25px;
    outline: none;
    background-color: transparent;
    background-image: url("./image/header_icon_search.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}

.header-menu__search:hover {
    filter: brightness(50%);
}

.header-menu__search:focus {
    width: 200px;
    transition: width 1s ease-out;
    background-position: right;
    background-color: gray;
}

.header-slider {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 40px 150px;
}

.header-slider__left-button {
    display: block;
    width: 40px;
    height: 73px;
    position: relative;
    margin: 110px 0 0 0;
}

.header-slider__left-button:after {
    content: "";
      display: inline-block;
      width: 52px;
      height: 52px;
      border-top: 2px solid #d3c1ad;
      border-left: 2px solid #d3c1ad;
      transform: rotate(-45deg);
      position: absolute;
      top: 10px;
      right: -25px;
}

.header-slider__left-button:hover:after{
    border-top: 2px solid gray;
    border-left: 2px solid gray;
}

.header-slider-slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-slider-slogan-up {
    font-family: 'raleway-medium', sans-serif;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff;
    margin: 0 0 14px 0;
}

.header-slider-slogan-midle {
    font-family: 'raleway-extrabold', sans-serif;
    font-size: 52px;
    line-height: 1.2;
    font-weight: 800;
    color: #ffffff;
    margin: 0 0 19px 0;
}

.header-slider-slogan-paragraph {
    font-family: 'montserrat-light', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
    max-width: 562px;
    text-align:center;
    hyphens: auto;
    margin: 0 0 50px 0;
}

.header-slider-button {
    width: 170px;
    height: 53px;
    background-color: #998675;
    box-shadow: inset 0px -3px 0px 0px #736357;
    border-radius: 3px;
    display: flex;
    text-decoration: none;
    margin: 0 0 310px 0;
}

.header-slider-button-txt {
    margin: auto;
    text-transform: uppercase;
    font-family: 'raleway-extrabold', sans-serif;
    font-size: 14px;
    font-weight: 800;
    color: #ffffff;
}

.header-slider-button:hover {
    background-color: white;
    border: 1px solid gray;
}

.header-slider-button:hover .header-slider-button-txt {
    color: #998675;
}

.header-slider-button:active {
    color: white;
    background-color: rgb(59, 43, 11);
}

.header-slider__right-button {
    display: block;
    width: 40px;
    height: 73px;
    position: relative;
    margin: 110px 0 0 0;
}

.header-slider__right-button:after {
    content: "";
      display: inline-block;
      width: 52px;
      height: 52px;
      border-top: 2px solid #d3c1ad;
      border-right: 2px solid #d3c1ad;
      transform: rotate(45deg);
      position: absolute;
      top: 10px;
      left: -25px;
}

.header-slider__right-button:hover:after{
    border-top: 2px solid gray;
    border-right: 2px solid gray;
}

.header-slides {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-slides-pagination {
    display: block;
    width: 12px;
    height: 12px;
    background-color: #ccc;
    border-radius: 50%;
    border: 2px solid transparent;
    margin: 0 5px;
}

.header-slides-pagination:hover {
    background-color: transparent;
    border: 2px solid #d3c1ad;
    transform: scale(1.2);
}


.services-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 80px 375px;
}

.services-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 266px;
}

.services-item:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
}

.services-item:hover .services-svg {
    fill: #c7b299;
}

.services-item:hover .services-item-title {
    color: #c7b299;
}

.services-item:hover:after {
    background-color: #c7b299;
}

.services-svg {
    margin: 0 0 30px 0;
    fill: #555555;
}

.services-item-title {
    margin: 0 0 20px 0;
    font-family: 'raleway-semibold', sans-serif;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}

.services-item-text {
    text-align: center;
    font-family: 'montserrat-light', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #8c8c8c;
    margin: 0 0 30px 0;
}


.realisation {
    padding: 84px 345px 0 345px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url('./image/realisation_bg.png');
}

.realisation-title {
    width: 100%;
    font-family: 'raleway-semibold', sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    margin: 0 0 24px 0;
}

.realisation-text {
    width: 757px;
    font-family: 'montserrat-light', sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    margin: 0 0 40px 0;
}

.realisation-images {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.realisation-image:first-child {
    position: absolute;
    bottom: 0;
    left: 0px;
    z-index: 1;
    
}
  
.realisation-image:nth-child(2) {
    margin: 0 auto;
    z-index: 2;
    bottom: 0;
  }
  
.realisation-image:last-child {
    position: absolute;
    right: 0px;
    z-index: 1;
    bottom: 0;
}

.realisation-image:first-child:hover {
    z-index: 3;
    height: 482px;
}

.realisation-image:last-child:hover {
    z-index: 3;
    height: 482px;
}
