* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: raleway-regular;
    src: url("./fonts/raleway/raleway-regular.ttf");
}

@font-face {
    font-family: raleway-medium;
    src: url("./fonts/raleway/raleway-medium.ttf");
}

@font-face {
    font-family: raleway-bold;
    src: url("./fonts/raleway/raleway-bold.ttf");
}

@font-face {
    font-family: raleway-extrabold;
    src: url("./fonts/raleway/raleway-extrabold.ttf");
}

@font-face {
    font-family: raleway-semibold;
    src: url("./fonts/raleway/raleway-semibold.ttf");
}

@font-face {
    font-family: montserrat-bold;
    src: url("./fonts/montserrat/montserrat-bold.ttf");
}

@font-face {
    font-family: montserrat-light;
    src: url("./fonts/montserrat/montserrat-light.ttf");
}

@font-face {
    font-family: montserrat-extralight;
    src: url("./fonts/montserrat/montserrat-extralight.ttf");
}

@font-face {
    font-family: montserrat-regular;
    src: url("./fonts/montserrat/montserrat-regular.ttf");
}

@font-face {
    font-family: roboto-regular;
    src: url("./fonts/roboto/roboto-regular.ttf");
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.header {
    width: 100%;
    background-image: url("./image/bg_image_header.png");
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-up-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px 375px;
    margin: 0 0 200px 0;
}

.header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    text-decoration: none;
    color: #ffffff;
}

.header-logo:hover .header-logo-icon {
    fill: #998675;;
  }
  
.header-logo:hover .header-logo-txt {
    color: #998675;
  }
  
.header-logo:active .header-logo-icon {
    fill: rgb(131, 130, 122);
  }
  
.header-logo:active .header-logo-txt {
    color: rgb(109, 108, 102);
  }
  
.header-logo-icon {
    fill: #fff;
  }

.header-logo-txt {
    font-family: 'raleway-regular', 'arial', sans-serif;
    font-size: 33px;
}

.header-menu {
   display: flex;
   justify-content: space-between;

}

.header-menu-list {
    display: flex;
    justify-content: space-between;
}    

.header-menu__link {
    margin: auto 15px;
    text-decoration: none;
    font-family: 'montserrat-light', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
}

.header-menu__link:hover {
    color: #c7b299;;
}

.header-menu__link:active {
    font-family: 'montserrat-light', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #c7b299;
}

.header-menu__calendar {
    margin: auto 30px auto 40px;
}

.header-menu__calendar:hover {
    filter: brightness(0%);
}

.header-form-search {
    display: flex;
}

.header-menu__search {
    margin: auto 0;
    width: 25px;
    height: 25px;
    outline: none;
    background-color: transparent;
    background-image: url("./image/header_icon_search.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}

.header-menu__search:hover {
    filter: brightness(50%);
}

.header-menu__search:focus {
    width: 200px;
    transition: width 1s ease-out;
    background-position: right;
    background-color: gray;
}

.header-slider {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 40px 150px;
}

.header-slider__left-button {
    display: block;
    width: 40px;
    height: 73px;
    position: relative;
    margin: 110px 0 0 0;
}

.header-slider__left-button:after {
    content: "";
      display: inline-block;
      width: 52px;
      height: 52px;
      border-top: 2px solid #d3c1ad;
      border-left: 2px solid #d3c1ad;
      transform: rotate(-45deg);
      position: absolute;
      top: 10px;
      right: -25px;
}

.header-slider__left-button:hover:after{
    border-top: 2px solid gray;
    border-left: 2px solid gray;
}

.header-slider-slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-slider-slogan-up {
    font-family: 'raleway-medium', sans-serif;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff;
    margin: 0 0 14px 0;
}

.header-slider-slogan-midle {
    font-family: 'raleway-extrabold', sans-serif;
    font-size: 52px;
    line-height: 1.2;
    font-weight: 800;
    color: #ffffff;
    margin: 0 0 19px 0;
}

.header-slider-slogan-paragraph {
    font-family: 'montserrat-light', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
    max-width: 562px;
    text-align:center;
    hyphens: auto;
    margin: 0 0 50px 0;
}

.header-slider-button {
    width: 170px;
    height: 53px;
    background-color: #998675;
    box-shadow: inset 0px -3px 0px 0px #736357;
    border-radius: 3px;
    display: flex;
    text-decoration: none;
    margin: 0 0 310px 0;
}

.header-slider-button-txt {
    margin: auto;
    text-transform: uppercase;
    font-family: 'raleway-extrabold', sans-serif;
    font-size: 14px;
    font-weight: 800;
    color: #ffffff;
}

.header-slider-button:hover {
    background-color: white;
    border: 1px solid gray;
}

.header-slider-button:hover .header-slider-button-txt {
    color: #998675;
}

.header-slider-button:active {
    color: white;
    background-color: rgb(59, 43, 11);
}

.header-slider__right-button {
    display: block;
    width: 40px;
    height: 73px;
    position: relative;
    margin: 110px 0 0 0;
}

.header-slider__right-button:after {
    content: "";
      display: inline-block;
      width: 52px;
      height: 52px;
      border-top: 2px solid #d3c1ad;
      border-right: 2px solid #d3c1ad;
      transform: rotate(45deg);
      position: absolute;
      top: 10px;
      left: -25px;
}

.header-slider__right-button:hover:after{
    border-top: 2px solid gray;
    border-right: 2px solid gray;
}

.header-slides {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-slides-pagination {
    display: block;
    width: 12px;
    height: 12px;
    background-color: #ccc;
    border-radius: 50%;
    border: 2px solid transparent;
    margin: 0 5px;
}

.header-slides-pagination:hover {
    background-color: transparent;
    border: 2px solid #d3c1ad;
    transform: scale(1.2);
}


.services-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 80px 375px;
}

.services-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 266px;
}

.services-item:after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
}

.services-item:hover .services-svg {
    fill: #c7b299;
}

.services-item:hover .services-item-title {
    color: #c7b299;
}

.services-item:hover:after {
    background-color: #c7b299;
}

.services-svg {
    margin: 0 0 30px 0;
    fill: #555555;
}

.services-item-title {
    margin: 0 0 20px 0;
    font-family: 'raleway-semibold', sans-serif;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}

.services-item-text {
    text-align: center;
    font-family: 'montserrat-light', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #8c8c8c;
    margin: 0 0 30px 0;
}


.realisation {
    padding: 84px 345px 0 345px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url('./image/realisation_bg.png');
}

.realisation-title {
    width: 100%;
    font-family: 'raleway-semibold', sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    margin: 0 0 24px 0;
}

.realisation-text {
    width: 757px;
    font-family: 'montserrat-light', sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    margin: 0 0 40px 0;
}

.realisation-images {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.realisation-image:first-child {
    position: absolute;
    bottom: 0;
    left: 0px;
    z-index: 1;
    
}
  
.realisation-image:nth-child(2) {
    margin: 0 auto;
    z-index: 2;
    bottom: 0;
  }
  
.realisation-image:last-child {
    position: absolute;
    right: 0px;
    z-index: 1;
    bottom: 0;
}

.realisation-image:first-child:hover {
    z-index: 3;
    height: 482px;
}

.realisation-image:last-child:hover {
    z-index: 3;
    height: 482px;
}


.wordpress-wrap {
    width: 100%;
    padding: 50px 375px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('./image/wordpress_bg.png');
}

.wordpress-text-wrap{
    display: flex;
    flex-direction: column;
}

.wordpress-title {  
    font-family: 'raleway-regular', sans-serif;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
}

.wordpress-title-first-word {
    color: #c7b299;
}

.wordpress-text {
    font-family: 'montserrat-light', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    color: #615855;
}

.wordpress-button {
    width: 170px;
    height: 50px;
    background-color: #998675;
    box-shadow: inset 0px -3px 0px 0px #736357;
    border-radius: 3px;
    font-family: 'raleway-extrabold', sans-serif;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    outline: none;
}

.wordpress-button:hover {
    background-color: white;
    border: 1px solid gray;
    color: #998675
}

.wordpress-button:active {
    color: white;
    background-color: rgb(59, 43, 11);
    outline: none;
}


.latest-projects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 80px 300px;
}

.latest-projects-title {
    width: 100%;
    text-align: center;
    font-family: 'raleway-semibold', sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    margin: 0 0 25px 0;
}

.latest-projects-text {
    max-width: 757px;
    text-align: center;
    font-family: 'montserrat-light', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    margin: 0 0 35px 0;
}

.latest-projects-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 40px 0;
}

.latest-project-nav-item {
    border: 1px solid #ebebeb;
    background-color: #fff;
    border-radius: 3px;
    font-family: 'montserrat-light', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #8c8c8c;
    margin: 0 10px 0 0;
    padding: 10px 25px;
}

.latest-project-nav-item:hover {
    background-color: #998675;
    color: #ffffff;
}

.latest-project-nav-item:active {
    outline: none;
    background-color: #fff;
    color: #8c8c8c;
}

.latest-project-nav-item:focus {
    outline: none;
    background-color: #fff;
    color: #8c8c8c;
}

.latest-project-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.latest-project-item {
    position: relative;
    width: 372px;
    margin: 0 25px 25px 0;
}

.latest-project-item:nth-child(3n) {
    margin: 0 0 25px 0;
}

.latest-project-item:hover .latest-project-item-link {
    display: block;
}

.latest-project-item:hover .latest-project-item-search {
    display: block;
}

.latest-project-item:hover .latest-project-item-text {
    background-color: #362f2d;
}

.latest-project-item:hover {
    background-color: #362f2d;
}

.latest-project-item:hover .latest-project-item-text:before {
    border-bottom: 10px solid #362f2d;
}

.latest-project-item:hover .latest-project-item-title {
    color: #ffffff;;
}

.latest-project-item:hover .latest-project-item-txt {
    color: #c7b299;
}

.latest-project-item:hover .latest-project-item-image {
    filter: brightness(40%);
}

.latest-project-item-text {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: #fbfaf8;
    padding: 30px;
}

.latest-project-item-text:before {
    content: "";
    border: 10px solid transparent;	
    border-bottom: 10px solid #fbfaf8;
    position: absolute;
    top: -24px;
    left: 19px;
}

.latest-project-item-title {
    width: 100%;
    font-family: 'raleway-medium', sans-serif;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #c7b299;
    margin: 0 0 10px 0;
}

.latest-project-item-txt {
    font-family: 'montserrat-light', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #d1d1d1;
}

.latest-project-item-link, .latest-project-item-search {
    width: 20px;
    height: 20px;
    display: none;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 30%;
}

.latest-project-item-link {
    background-image: url('./image/latest_project_item_link_image.png');
    left: 40%;
}

.latest-project-item-search {
    background-image: url('./image/latest_project_item_search.png');
    right: 40%;
}

.latest-project-button {
    width: 170px;
    height: 50px;
    background-color: #998675;
    box-shadow: inset 0px -3px 0px 0px #736357;
    border-radius: 3px;
    font-family: 'raleway-extrabold', sans-serif;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    outline: none;
}

.latest-project-button:hover {
    background-color: white;
    border: 1px solid gray;
    color: #998675
}

.latest-project-button:active {
    color: white;
    background-color: rgb(59, 43, 11);
    outline: none;
}

.presentation {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-wrap {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 553px;
}

.video_play_button {
    width: 100px;
    height: 100px;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 0 44px 0;
}

.video-button-svg {
    fill: white;
}

.video-title {
    font-family: 'raleway-medium', sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    margin: 0 0 29px 0;
}

.video-text {
    font-family: 'montserrat-light', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    margin: 0 0 40px 0;
}

.video-time {
    font-family: 'montserrat-regular', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #c7b299;
}


.excellent {
    width: 100%;
    background-color: #fbfaf8;
    display: flex;
    justify-content: center;
    padding: 80px 385px 0 423px;
}

.excellent-text {
    display: flex;
    flex-direction: column;
    margin: 115px 0 0 30px;
}

.excellent-title {
    font-family: 'raleway-semibold', sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    margin: 0 0 40px 0;
}

.excelent-paragraph {
    font-family: 'montserrat-light', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    margin: 0 0 40px 0;
}

.excellent-details {
    font-family: 'montserrat-light', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    margin: 0 0 15px 100px;
}

.excellent-summary {
    display: block;
    outline: none;
    position: relative;
}

.excellent-summary:before {
    content: ">";
    display: block;
    width: 23px;
    height: 22px;
    background-color: #c7b299;;
    color: #fff;
    border-radius: 50%;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    line-height: 22px;
    position: absolute;
    top: 0;
    left: -53px;
}


.statistic {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 69px 505px 60px 495px;
    background-image: url('./image/statistic_bg.png');
}

.statistic-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.statistic-item:after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #ffffff;
}

.statistic-item:hover .statistic-svg {
    fill: #92806b;
}

.statistic-item:hover .statistic-item-title {
    color: #c7b299;
}

.statistic-item:hover:after {
    background-color: #c7b299;
}

.statistic-svg {
    margin: 0 0 30px 0;
    fill: #c7b299;
}

.statistic-item-title {
    margin: 0 0 20px 0;
    font-family: 'montserrat-extralight', sans-serif;
    font-size: 48px;
    line-height: 36px;
    font-weight: 200;
    color: #ffffff;
}

.statistic-item-text {
    text-align: center;
    font-family: 'montserrat-light', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #c7b299;
    margin: 0 0 30px 0;
}


.recent-posts {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 80px 375px;
    background-color: #fff;
}

.recent-posts-title {
    width: 100%;
    text-align: center;
    font-family: 'raleway-semibold', sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    margin: 0 0 30px 0;
}

.recent-posts-text {
    max-width: 757px;
    text-align: center;
    font-family: 'montserrat-light', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    margin: 0 0 35px 0;
}

.posts-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 0 35px 0;
}

.recent-post-figure {
    width: 370px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.recent-post-image {
    margin: 0 0 30px 0;
}

.date {
    display: flex;
    flex-wrap: wrap;
    width: 50px;
    position: absolute;
    top: 15px;
    left: 15px;
}

.day {
    width: 100%;
    background-color: #363636;
    border-radius: 3px 3px 0px 0px;
    font-family: 'montserrat-light', sans-serif;
    font-size: 24px;
    line-height: 35px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
}

.month {
    width: 100%;
    background-color: #252525;
    border-radius: 0px 0px 3px 3px;
    font-family: 'roboto-regular', sans-serif;
    font-size: 12px;
    line-height: 25px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
}

.recent-post-figcaption {
    display: flex;
    flex-wrap: wrap;
    padding: 0 40px 0 30px;
}

.recent-post-figcaption-title {
    font-family: 'raleway-medium', sans-serif;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #555555;
    margin: 0 0 19px 0;
}

.recent-post-figcaption-text {
    width: 100%;
    font-family: 'montserrat-light', sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #8c8c8c;
    margin: 0 0 25px 0;
}

.recent-post-figcaption-link {
    text-decoration: none;
    font-family: 'montserrat-light', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #c7b299;
    position: relative;
}

.recent-post-figcaption-link:after {
    content: "";
    border: 5px solid transparent;
    border-left: 8px solid #c7b299;
    position: absolute;
    top: 4px;
    right: -30px;
}

.recent-posts-form {
    display: flex;
    justify-content: space-between;
    width: 55px;
}

.recent-posts-button-left, .recent-posts-button-right {
    display: block;
    width: 23px;
    height: 23px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #c7b299;
}

.recent-post-button-arrow-left {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-top: 2px solid #c7b299;
    border-left: 2px solid #c7b299;
    transform: rotate(-45deg);
    margin: 0 0 0 2px;
}

.recent-post-button-arrow-right {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-top: 2px solid #c7b299;
    border-right: 2px solid #c7b299;
    transform: rotate(45deg);
    margin: 0 2px 0 0;
}

.recent-posts-button-left:hover {
    border-color: #d1d1d1;
}

.recent-posts-button-left:hover .recent-post-button-arrow-left  {
    border-color: #d1d1d1;
}

.recent-posts-button-right:hover {
    border-color: #d1d1d1;
}

.recent-posts-button-right:hover .recent-post-button-arrow-right  {
    border-color: #d1d1d1;
}

.recent-posts-button-left:active, .recent-posts-button-right:active {
    outline: none;
    transform: scale(1.2);
}

.recent-posts-button-left:focus, .recent-posts-button-right:focus {
    outline: none;
}

.recent-post-figure:hover .recent-post-image {
    filter: brightness(30%)
}

.recent-post-figure:hover .day {
    background-color: #c7b299;
}

.recent-post-figure:hover .month {
    background-color: #a48d72;
}

.recent-post-figure:hover {
    background-color: #362f2d;
}

.recent-post-figure:hover .recent-post-figcaption-title {
    color: #c7b299;
}

.recent-post-figure:hover .recent-post-figcaption-text {
    color: #ffffff;
}


.partners {
    width: 100%;
    background-image: url('./image/partners_bg.png');
    display: flex;
    justify-content: space-between;
    padding: 135px 405px;
}

.partners-link:hover {
    filter: brightness(10%);
}


.footer-links {
    width: 100%;
    background-color: #191919;
    display: flex;
    justify-content: space-between;
    padding: 80px 375px;
}

.footer-article-logo {
    display: flex;
    flex-wrap: wrap;
    width: 260px;
}

.footer-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    text-decoration: none;
    color: #ffffff;
    margin: 0 0 20px 0;
}

.footer-logo:hover .footer-logo-icon {
    fill: #998675;;
  }
  
.footer-logo:hover .footer-logo-txt {
    color: #998675;
  }
  
.footer-logo:active .footer-logo-icon {
    fill: rgb(131, 130, 122);
  }
  
.footer-logo:active .footer-logo-txt {
    color: rgb(109, 108, 102);
  }
  
.footer-logo-icon {
    fill: #fff;
  }

.footer-logo-txt {
    font-family: 'raleway-regular', 'arial', sans-serif;
    font-size: 33px;
}

.footer-logo-paragraph {
    font-family: 'montserrat-light', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #555555;
}

.footer-logo-link {
    font-family: 'montserrat-regular', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #d1d1d1;
    text-decoration: none;
    position: relative;
}

.footer-logo-link:after {
    content: "";
    border: 5px solid transparent;
    border-left: 8px solid #d1d1d1;
    position: absolute;
    top: 5px;
    right: -30px;
}

.footer-logo-link:hover {
    color:rgb(109, 108, 102);
}

.footer-recent-posts {
    width: 272px;
    display: flex;
    flex-wrap: wrap;
    margin: 28px 0 0 0;
}

.footer-recent-posts-title {
    width: 100%;
    font-family: 'raleway-bold', sans-serif;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    margin: 0 0 30px 0;
}

.footer-recent-posts-date {
    font-family: 'montserrat-light', sans-serif;
    font-size: 12px;
    line-height: 0;
    font-weight: 300;
    color: #363636;
    margin: 0 0 10px 0;
}

.footer-recent-posts-text {
    font-family: 'montserrat-light', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
    padding: 0 0 10px 0;
}

.footer-note-wrap {
    border-bottom: 2px solid #252525;
    margin: 0 0 15px 0;
}

.footer-note-wrap:nth-child(4n) {
    border: none;
}

.footer-our-twitter {
    width: 273px;
    display: flex;
    flex-wrap: wrap;
    margin: 28px 0 0 0;
}

.footer-twitter-title {
    width: 100%;
    font-family: 'raleway-bold', sans-serif;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    margin: 0 0 25px 0;
}

.footer-twitter-text {
    font-family: 'montserrat-light', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
}

.footer-twitter-text-link {
    text-decoration: none;
    color: #00bff3;
}

.footer-twitter-text-bit {
    color: #959595;
    text-decoration: none;
}

.footer-twitter-time {
    font-family: 'montserrat-light', sans-serif;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    color: #363636;
}

.footer-widget {
    width: 301px;
    display: flex;
    flex-wrap: wrap;
    margin: 28px 0 0 0;
}

.footer-widget-title {
    width: 100%;
    font-family: 'raleway-bold', sans-serif;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    padding: 0 0 0 7px;
}

.footer-widget-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-note-wrap:hover .footer-note{
    color: #c7b299;
}

.footer-note-wrap:hover .footer-note-time {
    color: #ffffff;
}

.footer-widget-image:hover {
    filter: brightness(50%);
}

.footer-info {
    width: 100%;
    background-color: #111111;
    padding: 45px 375px;
    display: flex;
    justify-content: space-between;
}

.footer-info {
    font-family: 'montserrat-light', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
}

.footer-name-link {
    color: #959595;
    text-decoration: none;
}

.footer-nav-link {
    text-decoration: none;
    font-family: 'montserrat-light', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
    border-left: 1px solid #252525;
    margin: 0 0 0 10px;
    padding: 0 0 0 10px;
}

.footer-nav-link:hover {
    color: #c7b299;
}

.author-txt:last-child {
    border-left: 1px solid #252525;
    margin: 0 0 0 10px;
    padding: 0 0 0 10px;
}

.footer-name-link:hover {
    color:rgb(109, 108, 102);
}


@media (max-width: 1440px) {
    .container {
        max-width: 1440px;
    }

    .recent-posts {
        padding: 80px 100px;
    }

    .header-up-wrap {
        padding: 40px 100px;
    }

    .services-wrap {
        padding: 80px 100px;
    }

    .realisation-image:first-child {
        left: -255px;
    }

    .realisation-image:last-child {
        right: -245px;
    }

    .wordpress-wrap {
        padding: 50px 100px;
    }

    .latest-projects {
        padding: 80px 100px;
    }

    .excellent {
        padding: 80px 100px 0 150px;
    }

    .statistic {
        padding: 60px 200px;
    }

    .partners {
        padding: 100px 200px;
    }

    .footer-links {
        padding: 80px 100px;
    }

    .footer-info {
        padding: 45px 100px;
    }
}

@media (max-width: 1024px) {

    .container {
        width: 1024px;
    }

    .header-up-wrap {
        padding: 40px 60px;
    }

    .header-menu__link {
        margin: auto 5px;
    }

    .header-menu__calendar {
        margin: auto 10px;
    }

    .header-slider {
        padding: 40px 50px;
    }

    .latest-project-item:nth-child(3n) {
        margin: 0 25px 25px 0;
    }


    .excellent {
        padding: 40px 30px 0 30px;
    }

    .recent-posts {
        padding: 40px 100px;
    }

    .posts-wrap {
        flex-wrap: wrap;
        justify-content: center;
    }

    .recent-post-figcaption {
        margin: 0 0 30px 0;
    }

    .partners {
        padding: 100px 50px;
    }

    .footer-links {
        padding: 80px 30px;
    }
}

@media (max-width: 768px) {
    .services-wrap {
        padding: 50px 50px;
    }
}
